/*
    Content Manegment System - Course Assignment
*/

body {
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
}

header {
    background-image: url("https://ca1.flower-power.filipnordhagen.com/assets/images/home-page-header.jpg");
    height: 700px;
    width: 100%;
}

.logo {
    width: 350px;
    padding-left: 22em;
    padding-top: 20px;
    padding-right: 5px;
}

.logoTagline {
    padding-left: 28em;
    margin-top: 0;
}

h1 {
   padding-top: 50px;
   padding-right: 120px;
   float: right;
   clear: right;
   opacity: 50%;
}

.callToActionButton {
    border: 2px solid white;
    background-color: #e0aab9;
    padding: 1em;
    border-radius: 15px;
    width: 170px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
   
}

a {
    color: #ffffff;
    text-decoration: none;
}
.callToActionButton:hover {
    text-decoration: underline;
    border: 2px solid blue;
}

.card {
    width: 300px;
    display: inline-block;
    padding: 15px;
}

.results {
    text-align: center;
}

.image {
    width: 300px;
}

.productButton {
    padding: 10px 15px;
    background-color: hotpink;

}